#tableSidebar {
  color: #466551;
  background-color: #DCE8BA;
  margin: 0 auto !important;
  right: 0;
}

.header, #tableHeader {
  text-align: center;
}

#map {
  width: 100%;
  height: 500px;
  text-align: center;
}

nav.navbar.navbar-default.navbar-static-top {
  margin-bottom: 0;
  width: 100%;
}
nav.navbar.navbar-default.navbar-static-top ul {
  margin: 0 auto;
  float: right;
}
nav.navbar.navbar-default.navbar-static-top li {

}

#loader {
  position: absolute;
  top: 50%;
  left: 48%;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin: 0 auto;
  animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#footer {
  position: fixed;
  bottom: 0;
  width: 500px;
  height: 100px;
  background-color: #000;
}