#tableSidebar {
  color: #466551;
  background-color: #DCE8BA;
  margin: 0 auto !important;
  right: 0;
}
.header, #tableHeader {
  text-align: center;
}
<<<<<<< HEAD
=======
.hideSidePanel {
  display: none;
}
>>>>>>> 2803e02ac49290a2b8dd634a054e60a1196b5ae0
